*{margin: 10%;*{margin: 10%;
    padding: 15%;}
    
    
    body{
    font-family: "Poppins", sans-serif;
    }
    
    .cabeçalho{
    background-color: blue ;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0; }
    
    .cabeçalho-imagem
    {width: 5%;}
    
    .cabeçalho-lista-item{
    display: inline-block;
    margin: 0% 16px;
    font-size: 24px; }
    
    .futebol-imagem{
    width: 10%;
    }
    
    .futebol{
    background: linear-gradient(180deg, #383D58 0%, #4EBFE9 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    }
    .futebol-div-conteudo{
    width: 35%;
    
    }
    .futebol-titulo{
    padding: 24px 0;
    }


